<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
  </head>
  <body>
    <h1 id="name"><%= name %></h1>
    <p>Welcome to <%= name %>'s page. Here is my information</p>
    <p>
        <strong>Student ID</strong>: <span id="sid"><%= sid %></span><br>
        <strong>Department</strong>: <span id="dept"><%= dept %></span><br>
        <strong>Title</strong>: <span id="title"><%= title %></span><br>
    </p>
  </body>
</html>
